body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav {
    background-color: #333;
    overflow: hidden;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    flex: 1;
}

nav ul li a {
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
    text-align: center;
}

nav ul li a:hover, nav ul li a.active {
    background-color: #111;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

h1, h2 {
    text-align: center;
}

.stats {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.box {
    flex: 1;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.column {
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.column.large, .column.small {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.column.large {
    flex: 3;
}

.column.small {
    flex: 1;
}

.box.small {
    width: 100%;
    margin: 0;
    padding: 10px;
}

form {
    font-size: 14px;
    line-height: 1.15;
    text-align: center;
}

input, select, button {
    font-size: 14px;
    margin-top: 10px;
    display: inline-block;
    margin-left: 10px;
    padding: 10px;
}

input[type="file"] {
    padding: 10px;
    height: 36px;
    line-height: normal;
}

#loading {
    font-size: 14px;
    margin-top: 10px;
    color: #4CAF50;
}

.form-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.form-group label {
    font-weight: bold;
}
